project:
  type: website
  output-dir: docs

website:
  title: "My Dashboard"
  navbar:
    left:
      - text: Home
        href: dashboard.qmd

execute:
  freeze: auto

format:
  html:
    theme: flatly
    toc: true
